
#u4691 {
  position:absolute;
  left:1064px;
  top:5085px;
  width:32px;
  height:32px;
}
#u4692 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4693 {
  position:absolute;
  left:1065px;
  top:5256px;
  width:32px;
  height:32px;
}
#u4694 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4695 {
  position:absolute;
  left:1066px;
  top:5495px;
  width:32px;
  height:32px;
}
#u4696 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4697 {
  position:absolute;
  left:1069px;
  top:5182px;
  width:24px;
  height:24px;
}
#u4698 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4699 {
  position:absolute;
  left:1069px;
  top:5349px;
  width:24px;
  height:24px;
}
#u4700 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4701 {
  position:absolute;
  left:1065px;
  top:5416px;
  width:32px;
  height:32px;
}
#u4702 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4703 {
  position:absolute;
  left:1451px;
  top:5083px;
  width:305px;
  height:132px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u4705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4705 {
  position:absolute;
  left:1192px;
  top:926px;
  width:104px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4707 {
  position:absolute;
  left:72px;
  top:3283px;
  width:235px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4708 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u4709 {
  position:absolute;
  left:918px;
  top:4460px;
  width:0px;
  height:0px;
}
#u4709_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u4709_seg1 {
  position:absolute;
  left:68px;
  top:-4px;
  width:8px;
  height:501px;
}
#u4709_seg2 {
  position:absolute;
  left:68px;
  top:489px;
  width:70px;
  height:8px;
}
#u4709_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4709_seg4 {
  position:absolute;
  left:125px;
  top:483px;
  width:20px;
  height:20px;
}
#u4710 {
  position:absolute;
  left:22px;
  top:236px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
